<nav>
    <div class="site-title">
        <a href="/">
            <h1>My Diary</h1>
        </a>
        <p>A personal diary site</p>
    </div>
    <ul>
        <li><a href="/">Diary</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Diary</a></li>
    </ul>
</nav>